@{
	ViewData["Title"] = "Admin Panel";
}
@model AdminPanelViewModel

@if (Model.IsLoggedIn)
{
	<h1>Спасибо за авторизацию</h1>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-controller="GeoLocation" asp-action="GeoInfo" asp-route-isloggenin="@Model.IsLoggedIn" asp-route-login="@Model.Login" asp-route-password="@Model.Password">GeoIp</a>
	</li>
}
else {
	<h1>Логин или пароль не совпадает</h1>
}